<section>
    <div class="container-fluid">
      <div class="row g-3">
        <div class="col-3">
          <div
            style="box-shadow: 0px 5px 20px 0px rgba(92, 97, 242, 0.2)"
            class="p-3 bg-white rounded d-flex justify-content-between align-items-center"
          >
            <div>
              <h6>New Customer</h6>
              <h3 class="m-0">8,150</h3>
            </div>
            <div>
              <i
                style="font-size: 32px; padding: 12px 16px; color: #fff"
                class="bi bi-people bg-warning rounded"
              ></i>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div
            style="box-shadow: 0px 5px 20px 0px rgba(92, 97, 242, 0.2)"
            class="p-3 bg-white rounded d-flex justify-content-between align-items-center"
          >
            <div>
              <h6>New Customer</h6>
              <h3 class="m-0">8,150</h3>
            </div>
            <div>
              <i
                style="
                  font-size: 32px;
                  padding: 12px 16px;
                  color: #fff;
                  background-color: var(--primary-color);
                "
                class="bi bi-people rounded"
              ></i>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div
            style="box-shadow: 0px 5px 20px 0px rgba(92, 97, 242, 0.2)"
            class="p-3 bg-white rounded d-flex justify-content-between align-items-center"
          >
            <div>
              <h6>New Customer</h6>
              <h3 class="m-0">8,150</h3>
            </div>
            <div>
              <i
                style="font-size: 32px; padding: 12px 16px; color: #fff"
                class="bi bi-people bg-success rounded"
              ></i>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div
            style="box-shadow: 0px 5px 20px 0px rgba(92, 97, 242, 0.2)"
            class="p-3 bg-white rounded d-flex justify-content-between align-items-center"
          >
            <div>
              <h6>New Customer</h6>
              <h3 class="m-0">8,150</h3>
            </div>
            <div>
              <i
                style="font-size: 32px; padding: 12px 16px; color: #fff"
                class="bi bi-people bg-danger rounded"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-3 mt-2">
        <div class="col-6">
          <div
            style="box-shadow: 0px 5px 20px 0px rgba(92, 97, 242, 0.2)"
            class="p-3 bg-white rounded"
          >
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="m-0">Tasks Stats</h6>
              <nz-select ngModel="Year 2024" nzBorderless>
                <nz-option nzValue="Year 2024" nzLabel="Year 2024"></nz-option>
                <nz-option nzValue="Year 2023" nzLabel="Year 2023"></nz-option>
                <nz-option nzValue="Year 2022" nzLabel="Year 2022"></nz-option>
                <nz-option nzValue="Year 2021" nzLabel="Year 2021"></nz-option>
                <nz-option nzValue="Year 2020" nzLabel="Year 2020"></nz-option>
              </nz-select>
            </div>
            <div>
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div
            style="box-shadow: 0px 5px 20px 0px rgba(92, 97, 242, 0.2)"
            class="p-3 bg-white rounded"
          >
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h6 class="m-0">Most Leads</h6>
              <nz-select ngModel="This Month" nzBorderless>
                <nz-option nzValue="This Month" nzLabel="This Month"></nz-option>
                <nz-option nzValue="Last Week" nzLabel="Last Week"></nz-option>
                <nz-option nzValue="Last Month" nzLabel="Last Month"></nz-option>
              </nz-select>
            </div>
            <div>
              <div class="row align-items-center">
                <div class="col-6">
                  <canvas id="doughnutChart"></canvas>
                </div>
                <div class="col-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  