.spin {
  animation: spin 1s linear infinite;
  backface-visibility: hidden;
  perspective: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .spinner-border-sm {
  --bs-spinner-border-width: 0.1em;
} */
